<h2>お気に入り一覧</h2>


<table>
  <thead>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>

      <tr>
        <td class="image">
        <%= link_to (image_tag favorite.article.image.url if favorite.article.present?), favorite.article %></td>
        <td><%= favorite.article.title %></td>
        <td><%= link_to favorite.article.user.name, user_path(favorite.user),class: "link-to" %></td>
        <td>投稿日:<%= favorite.article.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
