<div class="container">
  <div class="row">
    <h1>投稿</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3 class="new mt-5 mb-5">あなたの知恵をシェアしましょう</h3>
    <%= render 'form', article: @article %>
  </div>
</div>