.p-top {
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}

.link-to{
  text-decoration: none;
}

// .article_image{
//   width: 15%;
//   height: 15%;
// }

// .procedure_image{
//   width: 20%;
//   height: 10%;
// }

// .confirm_article_image{
//   width: 20%;
//   height: 10%;
// }

// .profile_image{
//   width: 30%;
//   height: 20%;
// }

