.box {
  width: 400px;
  height: 550px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-one {
  width: 450px;
  height: 700px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}