.p-top {
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}

.article_image{
  width: 20%;
  height: 10%;
}

.procedure_image{
  width: 20%;
  height: 10%;
}

.confirm_article_image{
  width: 20%;
  height: 10%;
}

.profile_image{
  width: 30%;
  height: 20%;
}